language: android

sudo: false

android:
  components:
  - tools
  - build-tools-23.0.1
  - android-23
  - extra-android-m2repository
  - extra-android-support

script:
  - ./gradlew clean
  - ./gradlew assembleRelease
